.container.grid-container {
    max-width: 100%;
}
.large_container{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    max-width:1280px
}
@media(max-width:1140px){
    .large_container{
        padding:0 15px
    }
}
.site-content {
    display: block;
}
.row{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px
}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{
	position:relative;
	width:100%;
	min-height:1px;
	padding-right: 15px;
	padding-left:15px
}
.align-self-center {
    -ms-flex-item-align: center;
    align-self: center;
}
@media (min-width:768px){
	.col-md-2{
		-webkit-box-flex:0;
		-ms-flex:0 0 16.666667%;
		flex:0 0 16.666667%;
		max-width:16.666667%
	}
	.col-md-3{
		-webkit-box-flex:0;
		-ms-flex:0 0 25%;
		flex:0 0 25%;
		max-width:25%
	}
	.col-md-4{
		-webkit-box-flex:0;
		-ms-flex:0 0 33.33%;
		flex:0 0 33.33%;
		max-width:33.33%;
	}
	.col-md-5{
		-webkit-box-flex:0;
		-ms-flex:0 0 41.66667%;
		flex:0 0 41.66667%;
		max-width:41.66667%
	}
	.col-md-7{
		-webkit-box-flex:0;
		-ms-flex:0 0 58.33333%;
		flex:0 0 58.33333%;
		max-width:58.33333%
	}
	.col,.col-md-6{
		-webkit-box-flex:0;
		-ms-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%
	}
	.col-md-8{
		-webkit-box-flex:0;
		-ms-flex:0 0 66.66667%;
		flex:0 0 66.66667%;
		max-width:66.66667%
	}
	.col-md-9{
		-ms-flex:0 0 75%;
		flex:0 0 75%;
		max-width:75%
	}
}
@media (min-width:992px){
	.d-lg-block{
		display:block
	}
	.col-5{
		-webkit-box-flex:0;
		-ms-flex:0 0 20%;
		flex:0 0 20%;
		max-width:20%
	}
	.col-lg-7{
		-webkit-box-flex:0;
		-ms-flex:0 0 58.33333%;
		flex:0 0 58.33333%;
		max-width:58.33333%
	}
	.col-lg-5{
		-webkit-box-flex:0;
		-ms-flex:0 0 41.66667%;
		flex:0 0 41.66667%;
		max-width:41.66667%
	}
	.col-lg-10{
		-ms-flex:0 0 83.333333%;
		flex:0 0 83.333333%;
		max-width:83.333333%
	}
	.col-lg-12{
		-ms-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%
	}
	.text-lg-right{
		text-align:right
	}
	.col-lg-2{
		-webkit-box-flex:0;
		-ms-flex:0 0 16.66667%;
		flex:0 0 16.66667%;
		max-width:16.66667%
	}
	.col-lg-3{
		-webkit-box-flex:0;
		-ms-flex:0 0 25%;
		flex:0 0 25%;
		max-width:25%
	}
	.justify-content-md-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
	.col-lg-4{
		-webkit-box-flex:0;
		-ms-flex:0 0 33.33333%;
		flex:0 0 33.33333%;
		max-width:33.33333%
	}
	.col-lg-6{
		-webkit-box-flex:0;
		-ms-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%
	}
	.col-lg-8{
		-webkit-box-flex:0;
		-ms-flex:0 0 66.66667%;
		flex:0 0 66.66667%;
		max-width:66.66667%
	}
	.col-lg-9{
		-webkit-box-flex:0;
		-ms-flex:0 0 75%;
		flex:0 0 75%;
		max-width:75%
	}
}
@media(max-width:991px){
    .row{
    	margin-right:-10px;
    	margin-left:-10px
    }
    .col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{
    	padding-right: 10px;
    	padding-left:10px
    }
}
@media(max-width:767px){
    .order-sm-1 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .order-sm-2 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 2;
        order: 2;
    }
	.col-sm-6{
		-webkit-box-flex:0;
		-ms-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%
	}
}
.breadcrumbs_row {
    background: #f9f9f9;
    padding: 8px 0;
}
.breadcrumbs_row ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs_row ul li {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    text-transform: capitalize;
    color: #020408;
}
.breadcrumbs_row li a {
    position: relative;
}
.breadcrumbs_row li a span {
    text-decoration: underline;
}
.breadcrumbs_row li a:hover span {
    text-decoration: none;
}
.breadcrumbs_row li a:after {
    content: '';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(-45deg);
    border-right: 1px solid #595959;
    border-bottom: 1px solid #595959;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 8px 1px 1px;
}
.page_title {
    padding: 40px 0;
}
.page_title h1 {
    margin-bottom: 0;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
}
@media(max-width:767px){
    .page_title {
        padding: 25px 0;
    }
    .page_title h1 {
        font-size: 35px;
    }
}
span.reg {
    font-size: 35px;
    display: inline-block;
    position: relative;
    top: 13px;
    color: #fff;
}
.content_text p {
    font-size: 16px;
    margin-bottom: 20px;
}
.content_text ul, .content_txt_2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content_text ul li {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
}
.content_text ul li:before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 15px;
    color: #0a2c79;
}
.content_txt_2 h2, .content_txt_2 h3 {
    color: #FBBF3A;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.content_txt_2 p {
    font-size: 16px;
    color: #FBBF3A;
	margin-bottom: 15px;
}
.content_txt_2 ul li {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
	color: #FBBF3A;
}
.content_txt_2 ul li:before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 15px;
    color: #FBBF3A;
}
.cta_btns a {
    background: #fbbf3c !important;
    display: inline-block;
    padding: 20px 10px;
    min-width: 250px;
    text-align: center;
    color: #fff !important;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 0 0 rgba(255,64,4,0);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
    outline: none;
    line-height: 26px;
}
.cta_btns a:hover {
    background: #0a2c79 !important;
    color: #fff !important;
}
@media(max-width:991px){
	.cta_btns a {
		padding: 15px 10px;
		min-width: 200px;
	}
}
@media(max-width:767px){
	.custom_btn {
        text-align: center;
    }
    .custom_btn .elementor-button {
        display: inline-block;
        width: auto;
    }
}